@charset "UTF-8";

/* Layout Small Screens */
body{font-size: 18px;}
header {height: 66px;}
header a.logo {width: 132px; height: 34px; top: 25px; left: 10px; background-image: url(../images/logo_small.png);}
header h1{position: absolute; left: 160px; top: 30px; font-size: .7em;}

article .brief .content {padding: 0px 0px 0px 75px;}

.brief {padding: 15px 0px 15px 0px;}
.brief .app_icon{background-size: 60px 60px; top: 15px; width: 60px; height: 60px; border-radius: 14px;}




